body {
    text-align: center;
    /* padding-bottom: 40px; */
}

h1 {
    padding-bottom: 10px;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-1 {
    background-color: #8c9eff;
    color: white;
}

.bg-2 {
    background-color: #82b1ff;
}

.bg-3 {
    background-color: #80d8ff;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.row-fluid {
    display: flex;
    justify-content: center;
 }

 /* Project styling */
.panel {
    max-width: 1000px;
    margin: 0 auto;
}

.panel-picture {
    width: 40em;
    height: 15em;
    float:left;
}

/* Image Styling */
.profile-picture {
    border-radius: 70%;
    width: 30%;
    height: 10%;
}

.logo {
    width: 60px;
    height: 60px;
    padding: 10px;
}