html, body {
    height: 100%;
    max-width: 500px;
    margin: auto;
    padding: 0px;
}

ul {
    list-style: none;
}

.wrapper {
    text-align: center;
}

.projects-panels {
    margin-right: 10em;
}
.profile-picture {
    border-radius: 50%;
    width: 25%;
    height: 25%;
}