html, body {
    height: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0px;
    text-align: center;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

#about {
    max-width: 700px;
}

ul {
    list-style: none;
}

.projects-panels {
    margin-right: 10em;
}
.profile-picture {
    border-radius: 70%;
    width: 30%;
    height: 10%;
}